{% import "components/html.twig" as htmls %}
{{ htmls.html("bg-main.jpg")}}

   

{% block header %}  
{% import "components/header.twig" as headers %}
    {{headers.header()}}
{% endblock %}


{% block navbar %} 
{% import "components/navbar.twig" as navbars %} 
     {{navbars.navbar()}}
{% endblock %}


{% block main %}  
{# {% import "components/difCard.twig" as usersCards %}

    {{usersCards.userCard(
        data
    )}}        #}
 <main class=" pt-3 pb-5">
    <div class="container pt-3 rounded-2 cards-wrapper">
        <div class="row justify-content-center ">

            {% for exerciseDetail in exerciseDetails %}

            <div class="card col-4 col-lg-3 m-2 border-5 border-dark opacity-75">
                <div class="card-body">
                    <label class="fw-bold" for=""> User Name : {{exerciseDetail.personName}}</label><br>
                    <div class="row">
                        <h5 class="card-title fw-bold">Category : {{exerciseDetail.exerciseName}}</h5>
                    </div>
                    <h6 class="card-subtitle mt-2 fw-bold">Name : {{exerciseDetail.subExerciseName}}</h6>
                    <label class="fw-bold" for="">Due Date : {{exerciseDetail.DateOfExercise}}</label><br>
                    <label class="fw-bold" for="">Time : {{exerciseDetail.TimeOfEachRound}}</label><br>
                    <label for="" class="fw-bold">Set : {{exerciseDetail.NumberOfRounds}}</label><br>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</main>

{% endblock %}

