{% extends "components/html.twig"  %}
{# {{ htmls.html("bg-main.jpg")}} #}

 {% block customestyle %}
 <style>
 body{
    background-image: url('asset/image/bg-main.jpg');
     height: 100vh;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     

     

     

 }
 </style>
 {% endblock %} 
   

{% block header %}  
{% import "components/header.twig" as headers %}
    {{headers.header()}}
{% endblock %}


{% block navbar %} 
{% import "components/navbar.twig" as navbars %} 
     {{navbars.navbar()}}
{% endblock %}


{% block main %}  

 <main class=" pt-3 pb-5">
    <div class="container pt-3 rounded-2 cards-wrapper">
        <div class="row justify-content-center ">

            {% for exerciseDetail in otherGymData %}

            <div class="card col-4 col-lg-3 m-2 border-5 border-dark opacity-75">
                <div class="card-body">
                    <label class="fw-bold" for=""> User Name : {{exerciseDetail.personName}}</label><br>
                    <div class="row">
                        <h5 class="card-title fw-bold">Category : {{exerciseDetail.exerciseName}}</h5>
                    </div>
                    <h6 class="card-subtitle mt-2 fw-bold">Name : {{exerciseDetail.subExerciseName}}</h6>
                    <label class="fw-bold" for="">Due Date : {{exerciseDetail.DateOfExercise}}</label><br>
                    <label class="fw-bold" for="">Time : {{exerciseDetail.TimeOfEachRound}}</label><br>
                    <label for="" class="fw-bold">Set : {{exerciseDetail.NumberOfRounds}}</label><br>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</main>

{% endblock %}

